%button {
    background: none;
    padding: 10px 20px;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
    font-size: 1rem;
    transition: all 0.1s ease-out;
}

.pomodoro-timer {
    background: $background;
    box-shadow: 0px 2px 10px rgba(darken($color: $background, $amount: 40%), 0.18);
    border-radius: 10px;
    padding: 30px;
    max-width: 300px;
    margin: 0 auto;
    position: relative;

    h3 {
        font-size: 1.75rem;
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-right: 15px;
    }

    .timer-round {
        display: inline-block;
        font-size: 1.25rem;
    }

    .timer {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;

        &-text {
            font-size: 4rem;
        }
    }

    .timer-view {
        position: absolute;
        top: 0;
        right: 0;

        @extend %button;

        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(236, 236, 236);
    }

    .timer-form {
        margin-top: 20px;

        .timer-row {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            align-items: center;
            
            label {
                flex-basis: 50%;
                text-align: right;
                margin-right: 15px;
            }
        }

        input[type="number"] {
            background: transparent;
            font-size: 1rem;
            border: 1px solid white;
            width: 50px;
            padding: 5px;
        }
    }

    .timer-controls {
        display: flex;
        justify-content: center;

        .timer-pause {
            @extend %button;
            background: white;
            border: 2px solid white;
            margin-right: 10px;

            &:hover {
                box-shadow: 0 2px 20px rgba($color: #000000, $alpha: 0.09);
            }
        }

        .timer-next {
            @extend %button;
            border: 2px solid white;

            &:hover {
                background: white;
            }
        }
    }
}